# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=3000
NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nodejs_api_starter
POSTGRES_USER=nodejs_api_starter
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

ACCESS_TOKEN_SECRET=b967cbcc0e756f4219e955e4c2a2e3993cb076379fce39ad3c86fd691870112610448a939eca0fc07c24827166fc2ffa5007f4339594fd02e8de6fc89f008d00d3e07dec326ea5b8edbd243ae00d9251e59ddaa1357c793dc6d1cefaebd6fb5c2ce326ea671b603b4be1930620f865f07ea59d54c98a262a22552cfb356fe7f5
ACCESS_TOKEN_EXPIRES=7D

ALLOWED_ORIGINS=http://localhost:3001,https://staging.example.com,https://app.example.com
