server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: api
    static_configs:
      - targets:
          - localhost
        labels:
          job: api
          env: dev
          log_type: application
          __path__: /var/logs/application-*.log*
      - targets:
          - localhost
        labels:
          job: api
          env: dev
          log_type: error
          __path__: /var/logs/error-*.log*
